body {font-family: helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;}

/** HEADER **/
header { display: flex;
align-items: center;
background-color: black;
height: 69px;
width: 100%;
border: 1px solid red;
border-bottom: 1px solid seashell;
position: fixed;
z-index: 1;
}

.logo_chunk {   flex-grow: 1;
margin-left: 10px;}

.logo_actual{ height: 50px; }

.header_buttons { display: flex;
  justify-content: space-around;
  min-width: 450px;
}

.buttons {color: seashell;
text-decoration: underline;
}


/**CONTAINER **/

.container {display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
height: 100%;
width: 100%;
  border: 1px solid black; }

.main_banner {display: flex;
  background-image: url("file:///C:/Users/PC/Desktop/codeacademy/tea_cozy/images/background.jpg");
  align-items: center;
  justify-content: center;
border: 1px solid black;
height: 700px;
width: 1200px;
margin-top: 69px;

}

.main_banner_strip {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
background-color: black;
width: 1200px;
}


.main_banner h2, .main_banner h4 {display: flex;
  margin: 10px;
    background-color: black;
}

/**MID-PIECE TOP **/

.midpiece_top {display: inline-flex;
  width: 1000px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
margin-top:  50px;
}

.midpiece_top h2, .midpiece_top h4 { display: inline-flex;
  margin: 0;
   }

/** MID PIECE MIDDLE **/

img {height: 200px;
width: 300px;}


.midpiece_mid {display: flex;
}

.midpiece_image1 { border: 1px black solid;
text-align: center;
margin-right: 50px; }
.midpiece_image2 { border: 1px black solid;
text-align: center;
margin-right: 50px;}
.midpiece_image3 { border: 1px black solid;
text-align: center;}

.midpiece_image1 h4 { border: 1px yellow solid;
  margin-top: 10px;}
.midpiece_image2 h4 { border: 1px yellow solid;
margin-top: 10px;}
.midpiece_image3 h4 { border: 1px yellow solid;
margin-top: 10px;}

.midpiece_bottom {display: flex;}

.midpiece_image4 h4 { border: 1px yellow solid;
text-align: center;
margin-right: 50px;
margin-top: 10px;}
.midpiece_image5 h4 { border: 1px yellow solid;
text-align: center;
margin-top: 10px;}

/***LOCATIONS_BOX **/

.locations_box {   border: 5px yellow solid;
    display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
width: 100%;}


.locations_text { display: inline-flex;
  border: 5px blue solid;
 }

.branches_overallbox { display: inline-flex;
  border: 10px red solid;
flex-direction: row;
margin-top: 15px;
}

.downtown { border: 3px yellow solid;
width: 300px;
margin-right: 40px;
text-align: center; }
.east_bayside { border: 3px yellow solid;
width: 300px;
margin-right: 40px;
text-align: center;}
.oakdale { border: 3px yellow solid;
width: 300px;
text-align: center;}

.opacity_1px {opacity: 1;}


.contactinfo_box { border: 5px purple dashed;
  display: flex;
align-items: center;
  flex-direction: column;
  height: 200px;
width: 100%; }


.contactinfo_name h2, .contactinfo_email h5, .contactinfo_phonenumber h5 { margin-top: 10px;}

/**Copyright Box **/

.copyright_box {
  padding-left: 20px;
  border: 3px blue dotted;
width: 100%;}
